@import url(./setting.css);

.header__container {
    gap: 164px;
    display: flex;
    flex-direction: row;
}

.header__logo-container {
    height: 50px;
}

.header__logo-img {
    width: 80px;
    height: 84px;
}

.header__logo-name {
    font-size: 69px;
    padding-left: 64px;
    
    margin-top: -11px;
}

.header__logo-time {
    font-size: 19px;
    padding-left: 359px;
    font-weight: 700;
    margin-top: -39px;
}

.header__nav-container {
    margin-top: 84px;
    font-size: 30px;
    display: flex;
    gap: 76px
}
.header__nav-tabs {
    font-weight: 300;
}
.header__nav-tabs:hover{
    font-weight: 700;
}

.header__unit-toggle {
    display: flex;
    position: absolute;
    align-items: center;
    gap: 6px;
    margin-left: 16px;
    margin-top: 171px;
  }
  
  .header__unit-label {
    font-size: 28px;
    color: var(--text-light);
  }
  
  .header__switch {
    position: relative;
    width: 88px;
    height: 30px;
  }
  
  .header__slider {
    position: absolute;
    cursor: pointer;
    background: linear-gradient(to right, var(--green-bright), var(--card-dark));
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
  }
  
  .header__slider::before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    top: 2px;
    background-color: #181515;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  .header__checkbox:checked + .header__slider::before {
    transform: translateX(62px);
  }